@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: verdana,Geneva, Tohama,sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
    
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 1.5em;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;
}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    color: dimgray;
    text-decoration: underline;
}

section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;
}
.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.55);
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.354);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
}

#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
}

#img02 {
    background-image: url(../imagens/background002.jpg);
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}